body { 
font-family: "Trebuchet MS", sans-serif;  
line-height: 1.5;
font-size: 15px;
background: #36393D;
margin: 0;
padding: 0;
}


/* RECYCLE --------------------------------------
-----------------------------------------------*/
.hidden {display: none;}
.right {float: right;}
.left {float: left;}
.right.align {text-align: right}
.left.align {text-align: left}
.mid {margin-left: auto; margin-right: auto;}
.mid.align {text-align: center}

a { color: #0066cc; text-decoration: none;}
a:hover { color: #880000; }










/* YAPC Layout ----------------------------------
-----------------------------------------------*/
h1 {
margin: 0;
padding-left: 20px;
}
h1 a { text-decoration: none; color: #F9F7ED; }
h1 a:hover { border-bottom: 1px solid #F9F7ED; color: #F9F7ED; }

table {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border: 0px;
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width: 200px;
}

#wrap { 
width: 940px;
margin: 20px auto;
background: #fff;
padding: 20px;
}

#header {
background: black url(/yn2013/img/head-austin.jpg) center no-repeat;
height: 150px;
line-height: 100px;

}
a.donatebtn {
	 float: right;
	 position: relative; 
	 top: 30px; 
	 right: 30px; 
	 background-color: #f78f1e; 
	 padding: 5px 10px;
	 line-height: .5;
	 text-align: center;
	 -webkit-border-radius: 5px;
     border-radius: 15px;
     border: 3px solid #36393D;
}
a.donatebtn h2 {
	 color: #336;
}
a.donatebtn p {
	color: #111;
}
a:hover.donatebtn {
	background-color: #ccc;
}

a:hover.donatebtn h2 {}
#menu {
background: #356AA0;
height: 60px;
line-height: 60px;
}

#menu ul {
list-style-type: none;
margin: 0;
padding-left: 0px;
}
#menu ul li {
display: block;
float: left; 
}
#menu ul li a {
display: block;
padding: 0 10px 0 10px;
text-decoration: none;
color: #fff;
font-size: 16px;
font-weight: 600;
}
#menu ul li a:hover {
color: #fff;
background: #CF4D4F;
}


		



#content {
float: right;
width: 620px;
background: #F9F7ED;
margin-top: 20px;
}
#content h2 {
margin: 0;
color: #F9F7ED;
height: 30px;
line-height: 30px;
background: #2C2D2F;
padding: 0 0 0 10px;
font-size: 16px;
}
#content h3 {
	margin: 10px 0 0 10px;
}
#content p { padding: 0 10px 10px 10px; color: #232323; margin-top:0;}
#content ul { padding: 0 20px 10px 30px; }

#sidebar {
float: left;
margin-top: 20px;
width: 300px;
background: #eee;
border-bottom: 5px solid #36393D;
}



#sidebar h3 {
background: #2C2D2F;
height: 30px;
line-height: 30px;
font-weight: 600;
font-size: 14px;
margin: 0; padding: 0 0 0 10px; 
color: #F9F7ED;
}

#sidebar p { padding: 0 10px 10px 10px; color: #232323; }

#sidebar ul {
padding: 10px 0 20px 30px;
margin: 0;
}

#sidebar ul li {
padding: 0;
list-style: none;
margin: 0;
}

#sidebar ul ul { padding: 2px 0 2px 20px; }

#columns p { padding: 0 10px 10px 10px; color: #232323; }

#columns h3 {
background: #2C2D2F;
height: 30px;
line-height: 30px;
font-weight: 600;
font-size: 14px;
margin: 0 0 0 0; padding: 0 0 0 10px; 
color: #F9F7ED;
}

#columns ul {
padding: 15px 0 20px 30px;
margin: 0;
}

#columns ul li {
padding: 0;
margin: 0;
}

#column1 {
float: left;
width: 300px;
background: #FFFF88;
margin-top: 20px;
}
#column2 {
float: left;
margin-left: 20px;
width: 300px;
background: #CDEB8B;
margin-top: 20px;
}
#column3 {
float: left;
margin-left: 20px;
width: 300px;
background: #C3D9FF;
margin-top: 20px;
}

#footer { 
background: #2C2D2F;
padding: 10px 0;
text-align: center;
color: #fff;
margin-top: 20px;
}
#footer p { padding: 0; margin: 0; }
#footer a { color: #fff; }
#footer a:hover { text-decoration: underline; }


.nav,.nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

.nav {
    position:relative;
}

.nav ul {
    height:0;
    left:0;
    overflow:hidden;
    position:absolute;
    top:46px;
}

.nav li {
    float:left;
    position:relative;
}

.nav li a {
    -moz-transition:0.1s;
    -o-transition:0.1s;
    -webkit-transition:0.1s;
    background-color:#333366;
    border:1px solid #6E67A6;
    color:#FFF;
    display:block;
    font-size:14px;
    line-height:35px;
    padding:5px 20px;
    text-decoration:none;
    transition:0.1s;
}

.nav li:hover > a {
    background:#CCCCCC;
    border-color:#CCCCCC;
    color:#000000;
}

.nav li:hover ul.subs {
    height:auto;
    width:180px;
}

.nav ul li {
    -moz-transition:0.1s;
    -o-transition:0.1s;
    -webkit-transition:0.1s;
    opacity:0;
    transition:0.1s;
    width:100%;
}

.nav li ul li {
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    -webkit-transition-delay:0s;
    transition-delay:0s;
}

.nav li:hover ul li {
    opacity:1;
    -moz-transition-delay:0.1s;
    -o-transition-delay:0.1s;
    -webkit-transition-delay:0.1s;
    transition-delay:0.1s;
}

.nav ul li a {
    background:#333366;
    border-color:#CCCCCC;
    color:#fff;
    line-height:1px;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    -webkit-transition:0.2s;
    transition:0.2s;
}

.nav li:hover ul li a {
    line-height:35px;
}

.nav ul li a:hover {
     background:#CCCCC;   
background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));
}

#content table:first-child {
	margin: 0px 0 20px 0;
}
#code {
	overflow: auto !important;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 15px 0 0 0 !important;
	width: 550px !important;
}
#code h1 {padding: 0;}